@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Portfolio.Services 
@inject AuthenticationService Auth

<ul class="navbar-nav">
	@if (Auth.GetUser() != null)
	{
		<li class="nav-item">
			<a  class="nav-link text-dark" title="Manage">Hello @Auth.GetUser().Username !</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="User" asp-action="ViewLogout">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="User" asp-action="ViewRegister">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="User" asp-action="ViewLogin">Login</a>
		</li>
	}
</ul>