html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
    font-family: Shippori Mincho;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    height: auto;
}

footer{
    padding-top : 25px;
}

.btn {
    margin-top: 25px;
}

/*Page profil*/

.pdp{
    width : 20%;
}

.git {
    width: 4%;
}

.link {
   width: 8.5%;
}

.justify-content-around{
    display : flex;
    justify-content : space-around;
}

.sous-titre{
    margin-top: 100px;
    margin-bottom : 50px;
}

.cv{
    margin-top:100px;   
    margin-bottom: 50px;
}

/*Index*/

.photodeprofil{
    width:30%;
}

.boutonindex{
    margin-bottom: 25px;
}