html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
    font-family: Shippori Mincho;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
    height: 100vh;
}

footer{
    padding-top : 25px;
}

/*Page profil*/

div .presentation {
    float : left;
    text-align : center;
    width: 1440px;
    background-color: #AEAEAE;
}

.pdp{
    width : 20%;
    height : 10%;
}