@*A modifier par le model de contact lorsque celui ci sera créé *@
@model Portfolio.Models.Projets 

@{
    ViewData["Title"] = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1 class="display-4">Bienvenue sur mon site Portfolio !</h1>
	<h4>Moi c'est Arthur, et voici mon site Portfolio ou je présente mes projets personnels ainsi que mes projets d'école. Ce site est réalisé avec ASP.NET !</h4>
	<hr/>
</div>
<div class="text-center justify-content-around">
	<div>
		<img src="~/img/pdp.jpg" alt="PDP" class="photodeprofil" />
	</div>
	<div>
		<h2>Quelques infos sur moi !</h2>
		<p>Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempor lobortis massa sit amet luctus. Duis porttitor at tellus sit amet ultrices. Proin sit amet risus ut arcu ultricies consectetur sed in tellus. Proin laoreet eros vel ipsum finibus finibus. Nam dapibus efficitur enim in ultricies. Duis et vestibulum tortor. </p>
		<div class="justify-content-around">
			<div>
				<img class="git" src="~/img/github.png" />
				<p>Nom 1</p>
			</div>
			<div>
				<img class="git" src="~/img/github.png" />
				<p>Nom 2</p>
			</div>
			<div>
				<img class="git" src="~/img/github.png" />
				<p>Nom 3</p>
			</div>
		</div>
		<div>
			<a asp-action="Projects" class="btn btn-primary boutonindex">En savoir plus !</a>
		</div>
	</div>
</div>
<div class="text-center">
	<h2>Quelques réalisations</h2>
	<div class="justify-content-around">
		<div>
			<img class="git" src="~/img/github.png"/>
			<p>Exemple 1</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Exemple 2</p>
		</div>
	</div>
	<div>
		<a asp-action="Projects" class="btn btn-primary boutonindex">Mes réalisations</a>
	</div>
</div>
<div class="text-center">
	<h2>Me contacter</h2>
	<h4>Des questions ? Une demande particulière ? N’hesitez pas à me contacter, je prendrai avec plaisir et beaucoup de sérieux votre demande !</h4>
</div>
<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateOneProject">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImagePrincipale" class="control-label"></label>
				<input asp-for="ImagePrincipale" class="form-control" />
				<span asp-validation-for="ImagePrincipale" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FirstImage" class="control-label"></label>
				<input asp-for="FirstImage" class="form-control" />
				<span asp-validation-for="FirstImage" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SecondImage" class="control-label"></label>
				<input asp-for="SecondImage" class="form-control" />
				<span asp-validation-for="SecondImage" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Envoyer" class="btn btn-primary boutonindex" />
			</div>
		</form>
	</div>
</div>



