
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center presentation">
	<img class="pdp" src="~/img/pdp.jpg"/>
	<h1>Arthur Philippe</h1>
	<h2 class="dev">Développeur web junior</h2>
	<div class="réseaux">
		<a target="_blank" href="https://www.linkedin.com/in/arthur-philippe/"><img class="link" src="~/img/linkedin.png" /></a>
		<a target="_blank" href="https://github.com/Voltoxx"><img class="git" src="~/img/github.png" /></a>
	</div>
</div>
<hr/>
<div class="text-center">
	<h2 class="sous-titre">Quelques infos sur moi !</h2>
	<p class="description"> Actuellement âgé de 22 ans, je suis étudiant en développement
		web à la Normandie Web School. Je suis avide de nouvelles
		expériences et je sais m’adapter aux situations. De nature
		travailleur, je vais toujours au bout des actions que j’entreprends.</p>
</div>
<div class="text-center">
	<h2 class="sous-titre">Mes compétences</h2>
	<div class="justify-content-around">
		<div>
			<img class="git" src="~/img/github.png"/>
			<p>Compétence 1</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png"/>
			<p>Compétence 2</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png"/>
			<p>Compétence 3</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png"/>
			<p>Compétence 4</p>
		</div>

	</div>
	<br/>
	<div class="justify-content-around">
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Compétence 5</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Compétence 6</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Compétence 7</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Compétence 8</p>
		</div>
	</div>
</div>
<div class="text-center">
	<h2 class="sous-titre">Mes expériences</h2>
	<div class="justify-content-around">
		<div>
			<h3>Intitulé de l'expérience</h3>
			<h4>Année 1 - Année 2</h4>
			<ul>
				<li>1er élément</li>
				<li>2ème élément</li>
				<li>3ème élément</li>
				<li>4ème élément</li>
			</ul>
		</div>
		<div>
			<h3>Intitulé de l'expérience</h3>
			<h4>Année 1 - Année 2</h4>
			<ul>
				<li>1er élément</li>
				<li>2ème élément</li>
				<li>3ème élément</li>
				<li>4ème élément</li>
			</ul>
		</div>
	</div>
	<div class="justify-content-around">
		<div>
			<h3>Intitulé de l'expérience</h3>
			<h4>Année 1 - Année 2</h4>
			<ul>
				<li>1er élément</li>
				<li>2ème élément</li>
				<li>3ème élément</li>
				<li>4ème élément</li>
			</ul>
		</div>
		<div>
			<h3>Intitulé de l'expérience</h3>
			<h4>Année 1 - Année 2</h4>
			<ul>
				<li>1er élément</li>
				<li>2ème élément</li>
				<li>3ème élément</li>
				<li>4ème élément</li>
			</ul>
		</div>
	</div>
</div>
<div class="text-center">
	<h2 class="sous-titre">Mes centres d'interets</h2>
	<div class="justify-content-around">
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Nom 1</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Nom 2</p>
		</div>
		<div>
			<img class="git" src="~/img/github.png" />
			<p>Nom 3</p>
		</div>
	</div>
</div>
<div class="text-center cv">
	<a href="~/files/CV_PHILIPPE Arthur.pdf" download="CV_PHILIPPE Arthur.pdf" class="btn btn-primary">Télécharger mon CV</a>
</div>