
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="presentation">
	<img class="pdp" src="~/img/pdp.jpg"/>
	<h1>Arthur Philippe</h1>
	<h2>Développeur web junior</h2>
	<div class="réseaux">
		<img/>
		<img/>
		<img/>
	</div>
</div>
<hr/>

